@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
background: peachpuff;
width: 100%;
height: 100vh;
font-family: "Rethink Sans", sans-serif;
}
.knowmore_cta{
  transition: transform .3s, color .3s, border-color .3s, box-shadow 3s;
  position: relative;
  transform-style: preserve-3d;
  border: 1px solid #024DE5;
  color:white;
  background: #024DE5;
}
.knowmore_cta:hover{
  box-shadow: 0 8px 14px 0 #14142b0f; 
  background-color: #fff;
  color: #024DE5;
  transform: translate3d(0, -4px, .001px);
}
.content_cards{
  transition: transform .3s, color .3s, border-color .3s, box-shadow 3s;
  position: relative;
  transform-style: preserve-3d;
}
.content_cards:hover{
  transform: translate(0, -8px);
}
.content_cards:hover .knowmore_cta{
  background: #fff;
  color: #024DE5;
}
.intercom-13kg6np {
  position: relative;
  text-align: left;
  display: flex
;
margin-bottom: 30px;
  max-width: 420px;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0.02);
  padding: 12px 16px;
  float: left;
  border-radius: 20px;
}
.intercom-3xwhyz img {
  border-radius: 16.7%;
}
.intercom-3xwhyz img {
  width: 20px;
  height: 20px;
}
.intercom-avtrru {
  display: flex
;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 8px;
}
.intercom-hiupyl {
  margin-right: 8px;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 1px 5px);
}
.intercom-3xwhyz {
  margin: 0px auto;
  display: inline-block;
  vertical-align: middle;
  cursor: default;
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  border-radius: 16.7%;
}
.intercom-11cvbht {
  color: rgb(26, 26, 26);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.intercom-comment .intercom-ks2cl1, .e1axwam71 .intercom-ks2cl1, .e1y9me2v1 .intercom-ks2cl1 {
  font-size: 14px;
  line-height: 1.4;
  margin: 0px;
  max-width: 300px;
}